.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    background-color: blue;
}

.wrapper > div {
    background-color: lightblue;
    text-align: center;
}

.recipe-image {
    width: 200px;
}