.wrapper {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-gap: 10px;
    background-color: blue;
}

.wrapper > div {
    background-color: lightblue;
    text-align: center;
}

.recipe-image {
    width: 200px;
}

.favorite {
    position: relative;
    top: -10px;
}

.favorite:hover {
    opacity: 0.5;
}

.modal-header {
    margin: 0 auto;
}

.cuisine-button {
    margin: 5px;
}

.diet-button {
    margin: 5px;
}

.intolerence-button {
    margin: 5px;
}